.HeaderJsx {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    grid-gap: 10px;
    grid-template-areas: 'logo nav se ph';
    grid-area: hed;
    position: fixed;
    height: 120px;
    width: 100%;
    background-color: orange;
    text-align: center;
    justify-self: center;
    justify-content: center;
}
