.NavbarJsx {
    background-color: #F2F2F2;
    grid-area: nav;
    border-radius: 2%;
}
.NavbarJsx ul {
    list-style-type: none;
}
.NavbarJsx ul li {
    color: black;
    font-weight: bold;
}
.NavbarJsx ul li a {
    text-decoration: none;
}
.NavbarJsx ul li a:hover {
    font-style: italic;
    color: brown;
}
.NavbarJsx ul li a:active {
    color: aqua;
}