.Navbar {
    background-color: #F2F2F2;
    grid-area: nav;
    border-radius: 2%;
}
.Navbar ul {
    list-style-type: none;
}
.Navbar ul li {
    color: black;
    font-weight: bold;
}
.Navbar ul li a {
    text-decoration: none;
}
.Navbar ul li a:hover {
    font-style: italic;
    color: brown;
}
.Navbar ul li a:active {
    color: aqua;
}