.Friends {
    text-align: center;
    color: black;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'ft'
    'fp';
}

.FriendsPhoto {
margin-left: 7px;
margin-right: 7px;
    display: grid;
    grid-area: fp;
    grid-template-areas: 'a b c';
    grid-gap: 4px;
}
.photo1 {
    grid-area: a;
}
.photo2 {
    grid-area: b;
}
.photo3 {
    grid-area: c;
}
.tittle {
    grid-area: ft;
}